
{% assign block_content = section.settings.collection_block %}

{% if block_content == blank %}
    {% break %}
{% endif %}

{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
    <div
    {% if section.settings.add_section_id == true and section.settings.section_id != blank %}
        data-section-id="{{ section.settings.section_id }}"
    {% endif %}
    class="section  {% if section.settings.full_width_on_mobile %}section--mobile-full-width{% endif %} section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }} {{ section.settings.css_class }}"
    data-testid="ui-test-section"

    {% if request.visual_preview_mode %}
        data-shopify-visual-preview
    {% endif %}

    style="
        {% if section.settings.section_height == 'custom' %}
        --section-min-height: {{ section.settings.section_height_custom }}svh;
        {% elsif section.settings.section_height == 'full-screen' %}
        --section-min-height: 100svh;
        {% elsif section.settings.section_height != '' %}
        --section-min-height: var(--section-height-{{ section.settings.section_height }});
        {% endif %}

        {% if section.settings.section_height != '' %}
        --section-preview-height: 600px;
        {% endif %}
    "
    >
        <div class="custom-section-background">
            {% render 'background-media',
            background_media: section.settings.background_media,
            background_video: section.settings.video,
            background_video_position: section.settings.video_position,
            background_image: section.settings.background_image,
            background_image_position: section.settings.background_image_position
            %}
        </div>

        <div
            class="border-style custom-section-content"
            style="{% render 'border-override', settings: section.settings %}"
        >
            {% if section.settings.toggle_overlay %}
            {% render 'overlay', settings: section.settings, layer: '0' %}
            {% endif %}

            <div
            class="
                spacing-style
                layout-panel-flex
                layout-panel-flex--{{ section.settings.content_direction }}
                section-content-wrapper
                {% if section.settings.reverse_on_mobile == true %}mobile-section-column-reverse{% endif %}
                {% if section.settings.vertical_on_mobile %} mobile-column{% endif %}
            "
            style="
                {% render 'layout-panel-style', settings: section.settings %}
                {% render 'spacing-style', settings: section.settings %}
            "
            data-testid="section-content"
            >
                {{ children }}

                <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style border-top" style="--border-width:1px; --border-style:solid; --border-color:rgb(var(--color-border-rgb)/0.13); --border-radius:0px; --padding-block-start:max(20px, calc(var(--spacing-scale)*28px)); --padding-block-end: max(20px, calc(var(--spacing-scale)*28px)); --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                    <div class="group-block-content layout-panel-flex layout-panel-flex--row mobile-column" style="--flex-direction:row; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:24px; --horizontal-alignment:flex-start; --vertical-alignment:flex-start; --vertical-alignment-mobile:center;">
                        {% if block_content.first_column_heading != blank %}
                            <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style" style="--border-width:1px; --border-style:none; --border-color:rgb(var(--color-border-rgb)/1.0); --border-radius:0px; --padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                                <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column" style="--flex-direction:column; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:24px; --horizontal-alignment:flex-start; --vertical-alignment:center; --vertical-alignment-mobile:center;">
                                    {% if block_content.first_column_heading != blank %}
                                        <div class="spacing-style text-block custom text-block--align-left text-block--full-width custom-typography custom-font-size custom-color" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --font-size:1rem; --font-weight:var(--font-body--weight); --font-family:var(--font-body--family); --text-transform:none; --text-wrap:unset; --line-height:var(--line-height--body-normal); --letter-spacing:var(--letter-spacing--body-loose); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                            <h3 style="font-weight: 500;">{{ block_content.first_column_heading }}</h3>
                                        </div>
                                    {% endif %}

                                    {% if block_content.first_column_sub_items.value.size > 0 %}
                                        {% for item in block_content.first_column_sub_items.value  %}
                                            <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style" style="--border-width:1px; --border-style:none; --border-color:rgb(var(--color-border-rgb)/1.0); --border-radius:0px; --padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                                                <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column" style="--flex-direction:column; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:8px; --horizontal-alignment:flex-start; --vertical-alignment:center; --vertical-alignment-mobile:center;">
                                                    {% if item.heading != blank %}
                                                        <div class="spacing-style text-block custom text-block--align-left text-block--full-width h5" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                            <h5 style="font-weight: 500;">{{ item.heading }}</h5>
                                                        </div>
                                                    {% endif %}
                                                    {% if item.contents != blank %}
                                                        <div class="spacing-style text-block rte text-block--align-left text-block--full-width" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                            <p>{{ item.contents | metafield_tag }}</p>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if block_content.second_column_heading != blank %}
                            <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style" style="--border-width:1px; --border-style:none; --border-color:rgb(var(--color-border-rgb)/1.0); --border-radius:0px; --padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                                <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column" style="--flex-direction:column; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:24px; --horizontal-alignment:flex-start; --vertical-alignment:center; --vertical-alignment-mobile:center;">
                                    {% if block_content.second_column_heading != blank %}
                                        <div class="spacing-style text-block custom text-block--align-left text-block--full-width custom-typography custom-font-size custom-color" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --font-size:1rem; --font-weight:var(--font-body--weight); --font-family:var(--font-body--family); --text-transform:none; --text-wrap:unset; --line-height:var(--line-height--body-normal); --letter-spacing:var(--letter-spacing--body-loose); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                            <h3 style="font-weight: 500;">{{ block_content.second_column_heading }}</h3>
                                        </div>
                                    {% endif %}

                                    {% if block_content.second_column_sub_items.value.size > 0 %}
                                        {% for item in block_content.second_column_sub_items.value  %}
                                            <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style" style="--border-width:1px; --border-style:none; --border-color:rgb(var(--color-border-rgb)/1.0); --border-radius:0px; --padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                                                <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column" style="--flex-direction:column; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:8px; --horizontal-alignment:flex-start; --vertical-alignment:center; --vertical-alignment-mobile:center;">
                                                    {% if item.heading != blank %}
                                                        <div class="spacing-style text-block custom text-block--align-left text-block--full-width h5" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                            <h5 style="font-weight: 500;">{{ item.heading }}</h5>
                                                        </div>
                                                    {% endif %}
                                                    {% if item.contents != blank %}
                                                        <div class="spacing-style text-block rte text-block--align-left text-block--full-width" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                            <p>{{ item.contents | metafield_tag }}</p>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if block_content.third_section_first_column_heading != blank or block_content.third_section_first_column_content != blank
                    or block_content.third_section_second_column_heading != blank or block_content.third_section_second_column_content != blank
                %}
                    <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style border-top" style="--border-width:1px; --border-style:solid; --border-color:rgb(var(--color-border-rgb)/0.13); --border-radius:0px; --padding-block-start:max(20px, calc(var(--spacing-scale)*28px)); --padding-block-end:max(20px, calc(var(--spacing-scale)*28px)); --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                        <div class="group-block-content layout-panel-flex layout-panel-flex--row mobile-column" style="--flex-direction:row; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:24px; --horizontal-alignment:flex-start; --vertical-alignment:flex-start; --vertical-alignment-mobile:center;">
                            {% if block_content.third_section_first_column_heading != blank or block_content.third_section_first_column_content != blank %}
                                <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style" style="--border-width:1px; --border-style:none; --border-color:rgb(var(--color-border-rgb)/1.0); --border-radius:0px; --padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                                    <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column" style="--flex-direction:column; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:8px; --horizontal-alignment:flex-start; --vertical-alignment:center; --vertical-alignment-mobile:center;">
                                        {% if block_content.third_section_first_column_heading != blank %}
                                            <div class="spacing-style text-block custom text-block--align-left text-block--full-width custom-typography custom-font-size custom-color" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --font-size:1rem; --font-weight:var(--font-body--weight); --font-family:var(--font-body--family); --text-transform:none; --text-wrap:unset; --line-height:var(--line-height--body-normal); --letter-spacing:var(--letter-spacing--body-loose); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                <h3 style="font-weight: 500;">{{ block_content.third_section_first_column_heading }}</h3>
                                            </div>
                                        {% endif %}
                                        {% if block_content.third_section_first_column_content != blank %}
                                            <div class="spacing-style text-block rte text-block--align-left text-block--full-width" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                <p>{{ block_content.third_section_first_column_content | metafield_tag }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if block_content.third_section_second_column_heading != blank or block_content.third_section_second_column_content != blank %}
                                <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style" style="--border-width:1px; --border-style:none; --border-color:rgb(var(--color-border-rgb)/1.0); --border-radius:0px; --padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                                    <div class="group-block-content layout-panel-flex layout-panel-flex--column mobile-column" style="--flex-direction:column; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:8px; --horizontal-alignment:flex-start; --vertical-alignment:center; --vertical-alignment-mobile:center;">
                                        {% if block_content.third_section_second_column_heading != blank %}
                                            <div class="spacing-style text-block custom text-block--align-left text-block--full-width custom-typography custom-font-size custom-color" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --font-size:1rem; --font-weight:var(--font-body--weight); --font-family:var(--font-body--family); --text-transform:none; --text-wrap:unset; --line-height:var(--line-height--body-normal); --letter-spacing:var(--letter-spacing--body-loose); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                <h3 style="font-weight: 500;">{{ block_content.third_section_second_column_heading }}</h3>
                                            </div>
                                        {% endif %}
                                        {% if block_content.third_section_second_column_content != blank %}
                                            <div class="spacing-style text-block rte text-block--align-left text-block--full-width" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --width:100%; --max-width:var(--max-width--body-none); --text-align:left;">
                                                <p>{{ block_content.third_section_second_column_content | metafield_tag }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if block_content.bottom_heading != blank or block_content.bottom_content %}
                    <div class="group-block group-block--height-fit group-block--width-fill border-style spacing-style size-style border-top" style="--border-width:1px; --border-style:solid; --border-color:rgb(var(--color-border-rgb)/0.13); --border-radius:0px; --padding-block-start:max(20px, calc(var(--spacing-scale)*28px)); --padding-block-end:max(20px, calc(var(--spacing-scale)*28px)); --padding-inline-start:0px; --padding-inline-end:0px; --size-style-width:100%; --size-style-height:fit; --size-style-width-mobile:100%; --size-style-width-mobile-min:5rem;" data-testid="group-block">
                        <div class="group-block-content layout-panel-flex layout-panel-flex--row mobile-column" style="--flex-direction:column; --flex-wrap:nowrap; --flex-wrap-mobile:wrap; --gap:12px; --horizontal-alignment:left; --vertical-alignment:center; --vertical-alignment-mobile:center; --horizontal-mobile-alignment: flex-start;">
                            {% if block_content.bottom_heading != blank %}
                                <div class="spacing-style text-block custom custom-typography custom-font-size custom-color" style="--padding-block-start:0px; --padding-block-end:0px; --padding-inline-start:0px; --padding-inline-end:0px; --color:var(--color-foreground); --font-size:1rem; --font-weight:var(--font-body--weight); --font-family:var(--font-body--family); --text-transform:none; --text-wrap:unset; --line-height:var(--line-height--body-normal); --letter-spacing:var(--letter-spacing--body-loose); --width: fit-content; --max-width:var(--max-width--body-none); --text-align:center;">
                                    <h3 style="font-weight: 500;">{{ block_content.bottom_heading }}</h3>
                                </div>
                            {% endif %}
                            {% if block_content.bottom_content != blank %}
                                <div class="spacing-style mobile-align-left text-block rte"
                                    style="
                                        --padding-block-start: 0px; --padding-block-end:0px; 
                                        --padding-inline-start:0px; --padding-inline-end:0px; 
                                        --width: fit-content;
                                        --max-width: var(--max-width--body-normal);
                                        --text-align: center;
                                    ">
                                    <p>{{ block_content.bottom_content | metafield_tag }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% stylesheet %}
  .section-wrapper {
    --section-height-offset: 0px;
  }

  .section[data-shopify-visual-preview] {
    min-height: var(--section-preview-height);
    padding-top: 0;
  }

  .section[data-shopify-visual-preview] .custom-section-background {
    display: none;
  }

  body:has(> #header-group > .header-section > #header-component[transparent]):not(
      :has(> #header-group > .header-section + .shopify-section)
    )
    > main
    > .section-wrapper:first-child {
    --section-height-offset: var(--header-group-height, 0);
  }

  .custom-section-background {
    grid-column: 1 / -1;
  }

  .custom-section-content {
    z-index: var(--layer-flat);
  }

  @media (max-width: 749px) {
    .mobile-align-left {
        --text-align: left !important;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Collection Details",
  "class": "section-wrapper",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
        "type": "metaobject",
        "id": "collection_block",
        "label": "Block Content",
        "metaobject_type": "collection_block_content"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "t:settings.vertical_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "reverse_on_mobile",
      "label": "Reverse order on mobile",
      "info": "only works for vertical mobile",
      "default": false,
      "visible_if": "{{ section.settings.vertical_on_mobile == true or section.settings.content_direction == 'column' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "align_baseline",
      "label": "t:settings.align_baseline",
      "default": false,
      "visible_if": "{{ section.settings.vertical_alignment == 'flex-end' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction != 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'column' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_gap",
      "label": "Custom mobile gap",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile_gap",
      "label": "Mobile gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ section.settings.enable_mobile_gap == true }}"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "checkbox",
      "id": "full_width_on_mobile",
      "label": "t:settings.full_width_on_mobile",
      "default": false,
      "visible_if": "{{ section.settings.section_width == 'page-width' }}"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "",
          "label": "t:options.auto"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "full-screen",
          "label": "t:options.full_screen"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "section_height_custom",
      "label": "t:settings.custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "%",
      "visible_if": "{{ section.settings.section_height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "background_media",
      "label": "t:settings.background_media",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "none"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:settings.video_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "contain",
          "label": "t:options.contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.background_overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ section.settings.toggle_overlay and section.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "custom_mobile_padding",
      "label": "Custom Mobile Padding",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile-padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS class",
      "info": "optional"
    },
    {
      "type": "checkbox",
      "id": "add_section_id",
      "label": "Add section ID",
      "default": false
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "optional",
      "visible_if": "{{ section.settings.add_section_id == true }}"
    }
  ],
    "presets": [
    {
      "name": "Collection Details",
      "category": "t:categories.layout",
      "settings": {
        "section_height": "auto"
      }
    }
  ]
}
{% endschema %}